<app-nav-bar [viewTitle]="'使用说明'"></app-nav-bar>
<div class="pt80 container-fluid fdb">
   <div class="row">
     <div class="col-xs-12 mt20">
       <p>一、用户身份类别<br /><br /></p>
       <p>1、普通会员      通过邮箱注册或第三方平台登录进来的用户,未进行任何身份认证的，均为普通用户。<br /><br />

        2、个人认证会员    进行手机号认证的用户为个人认证会员。通过身份认证的用户信用度更高，更有机会享受更多福利。<br /><br />

        3、企业认证会员    企业用户需通过企业信息认证，通过认证的企业用户可成为企业认证会员，且可以通过“建议反馈”提交主题推荐申请等。<br /><br />
        <img src="assets/images/exp_img1.png"  alt="" class="img-responsive" /><br /><br />
      </p>
      <p>二、上传随手拍</p>
      <p>
        随手拍：WAP端可点击上传按钮，上传单张照片。时间、地点可自动获取，描述需手动添加或修改。<br /><br />
        (1) 单击悬浮按钮即可拍照并上传至随手拍<br /><br />
        <img src="assets/images/exp_img2.png"  alt="" class="img-responsive" /><br /><br />
        (2) 随手拍上传成功，可在“此客”—“随手拍”中进行编辑、删除及上传至主题等操作<br /><br />
        <img src="assets/images/exp_img3.png"  alt="" class="img-responsive" /><br /><br />
        <img src="assets/images/exp_img4.png"  alt=""  class="img-responsive" /><br /><br />
        (3) 手指点击<img src="assets/images/more.png"  alt="" />         图标，可选择编辑或删除照片<br /><br />
        <img src="assets/images/exp_img5.png"  alt="" class="img-responsive" /><br /><br />
        (4)“编辑”可修改照片拍摄时间、地点及照片描述<br /><br />
        <img src="assets/images/exp_img6.png"  alt="" class="img-responsive" /><br /><br />
        (5)“删除”删除该张照片<br /><br />
        (6) 上传至主题，点击<img src="assets/images/up_themes.png"  alt="" height="26" />勾选按钮，勾选上传的照片，选择要发布的主题分类和主题时间、地点、描述然后确定，即上传成功。<br /><br />
        <img src="assets/images/exp_img7.png"  alt="" class="img-responsive" /><br /><br />
      </p>
      <p>三、主题<br /><br />主题：多张照片，有连续性，以时间先后排序</p>
      <p>
        (1) 单击“上传”按钮 <br /><br />
        <img src="assets/images/exp_img8.png"  alt="" class="img-responsive" /><br /><br />
        (2) 选择主题，然后选择本地照片<br /><br />
        <img src="assets/images/exp_img9.png"  alt="" class="img-responsive" /><br /><br />
        (3) 添加照片并填写主题拍摄时间、地点和主题描述，
        点击“下一步”<br /><br />
        <img src="assets/images/exp_img10.png"  alt="" class="img-responsive" /><br /><br />
        (4) 填写照片拍摄时间、地点和照片描述，点击“上传”即可完成上传<br /><br />
        <img src="assets/images/exp_img11.png"  alt="" class="img-responsive" /><br /><br />
        (4) 主题上传成功，可在“此客”—“主题”中进行编辑、删除、续传等管理<br /><br />
        <img src="assets/images/exp_img12.png"  alt="" class="img-responsive" /><br /><br />
      </p>
      <p>四、上传相册<br /><br />相册：用于存放用户非公开的照片，可以新建相册和续传照片到相册</p>
        <p>
          (1) 单击“上传”按钮<br /><br />
          <img src="assets/images/exp_img8.png"  alt="" class="img-responsive" /><br /><br />
          (2) 选择相册，然后选择本地照片<br /><br />
          <img src="assets/images/exp_img9.png"  alt="" class="img-responsive" /><br /><br />
          (3) 上传成功后统一填写相册分类名称、拍摄时间、地点和描述，之后可到个人中心更改单张照片信息<br /><br />
          <img src="assets/images/exp_img13.png"  alt="" class="img-responsive" /><br /><br />
          <img src="assets/images/exp_img14.png"  alt="" class="img-responsive" /><br /><br />
          (4) 在“此客”—“我的相册”中进行编辑、删除等管理<br /><br />
          <img src="assets/images/exp_img15.png"  alt="" class="img-responsive" />
        </p>
      </div>
    </div>
</div>
