<app-nav-bar [viewTitle]="'关于我们'"></app-nav-bar>
<div class="xy pt40">
杭州达则科技有限公司是车税通APP的开发运营商，是国内首家通过移动互联网技术，以创新和用户体验为宗旨，专注服务私家车主用车生活的创业型公司。<br />
公司创始团队成员，均是来自各大互联网门户、电子商务平台的资深人士，对互联网有着深刻的理解，同时有着互联网企业阳光透明般的性格。<br /><br />

发展历程：<br />
      &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;2014年3月车税通APP上线，获得知名天使投资人李治国投资。<br />
      &nbsp; &nbsp; &nbsp; &nbsp; 
      2014年6月获得盈动资本天使+投资，服务覆盖全国60多个城市，成为行业领跑。<br />
      &nbsp; &nbsp; &nbsp; &nbsp; 
      2014年12月，获如山创投领投的A轮投资3000万，服务覆盖城市超过200个。<br />
      &nbsp; &nbsp; &nbsp; &nbsp; 
      2015年3月，汽车服务日交易流水突破20万，月交易流水超过500万。<br /><br /><br />

<span class="fc303">问题反馈 : app@qichekb.com</span><br /><br />

<span class="fc303">市场合作 : mkt@qichekb.com</span><br /><br />

<span class="fc303">客服电话 : 4008066330</span><br /><br />

<span class="fc303">公司地址 : 杭州市西湖区西斗门路9号福地创业园3号楼3302室</span><br /><br />
</div> 