<app-nav-bar></app-nav-bar>
<div class="login-box pb60">
    <form action="" method="" class="login-bg">
        <div class="g-notice mb40">我们已发送验证码到邮箱 <span class="fc303 ">1903129706@qq.com</span></div>
        <div class="input-group">
           <input type="text" class="g-code pl" value="" placeholder="请输入验证码"  />
           <div class="g-send" id="g-send">发送</div>
        </div>
        <div class="input-group3 mt40">
           <input type="submit" class="login-menu" value="完成"  />
        </div>
        <p class="g-xy mt10">
            <input type="checkbox" id="arg" />
            <label for="arg" class="arg-label"></label>
            <span class="ml10">我已阅读并同意<a href="">《用户协议》</a></span>
        </p>
    </form> 
    <div class="other mt60">
       <h2><span ></span><span>其他登录方式</span></h2>
        <div class="check-login tcenter">
            <a href="" class="wx"><img src="images/wx.png" h alt="" /><br />微信登录</a>
            <a href="" class="qq"><img src="images/qq.png"  alt="" /><br />QQ登录</a>
        </div>
    </div>
</div>