<app-nav-bar></app-nav-bar>
<div class="login-box pb60">
    <form action="" method="" class="login-bg">
        <div class="input-group">
           <input type="text" class="userName" value="" placeholder="请输入邮箱/用户名" />
        </div>
        <div class="input-group">
           <input type="password" class="pwd" value=""  placeholder="请输入邮箱/用户名" />
           <a href="">忘记密码?</a>
        </div>
        <div class="input-group mt40">
           <input type="submit" class="login-menu" value="登录"  />
        </div>
        <p class="mt10">还没有账号?<span class="ml20">去<a href="">注册</a></span></p>
   </form> 
    <div class="other mt60">
       <h2><span ></span><span>其他登录方式</span></h2>
        <div class="check-login tcenter">
            <a href="" class="wx"><img src="../../../assets/images/wx.png" h alt="" /><br />微信登录</a>
            <a href="" class="qq"><img src="../../../assets/images/qq.png"  alt="" /><br />QQ登录</a>
        </div>
    </div>
</div>