<app-nav-bar [viewTitle]="'系统消息'"></app-nav-bar>
<div class="record">
   <div class="mbox">
     <div class="mes-cat">系统消息</div>
     <div class="mes-body mt20">
       <p><a href="">您购买的1G空间大小已到账户，请放心使用，获取积分2000分</a></p>
       <p class="fcbd mt10 fright">10-21-2015   15:02</p>
     </div>
     <img src="../../../assets/images/del.png"  alt="" />
   </div>
   <div class="mbox">
     <div class="mes-cat">系统消息</div>
     <div class="mes-body mt20">
       <p><a href="">您购买的1G空间大小已到账户，请放心使用，获取积分2000分</a></p>
       <p class="fcbd mt10 fright">10-21-2015   15:02</p>
     </div>
     <img src="../../../assets/images/del.png"  alt="" />
   </div>
   <div class="mbox">
     <div class="mes-cat">系统消息</div>
     <div class="mes-body mt20">
       <p><a href="">您购买的1G空间大小已到账户，请放心使用，获取积分2000分</a></p>
       <p class="fcbd mt10 fright">10-21-2015   15:02</p>
     </div>
     <img src="../../../assets/images/del.png"  alt="" />
   </div>
   <div class="mbox">
     <div class="mes-cat">系统消息</div>
     <div class="mes-body mt20">
       <p><a href="">您购买的1G空间大小已到账户，请放心使用，获取积分2000分</a></p>
       <p class="fcbd mt10 fright">10-21-2015   15:02</p>
     </div>
     <img src="../../../assets/images/del.png"  alt="" />
   </div>
       
   </div>