<app-nav-bar></app-nav-bar>
<div class="xy pt60">
特别提醒： 在您（下或称“用户”）开始阅读并决定是否接受本《此刻用户协议》（下称“本协议”）之前，此刻公司特别提醒您应留意其中的第2、3、4、5条款内容。本协议各条款的标题（如有）仅为方便检索使用。<br />
重点提示<br />
1.关于此刻及本协议：“此刻”是此刻公司为主开发、运营、管理的一款应用软件产品，旨于为用户提供免费的软件使用许可及技术服务，实现信息内容的发布。此刻公司可能根据自身对商业、适用法律与政策等要素的判断，随时更新本协议；此刻公司将及时向用户通知本协议的更新事项，若用户无法接受本协议或本协议的未来更新版本的全部条款，用户有义务自觉停止使用此刻。<br />
2.纠纷管辖：因用户与此刻公司之间发生的任何纠纷，只要发生纠纷时适用法律与政策允许将此刻公司所在地作为唯一或其中之一的纠纷管辖地的，则用户同意由美此刻公司所在地有管辖权的人民法院排他管辖该纠纷。同时，当此刻公司拟对用户或其他第三方提起与本协议有关或与美拍有关的纠纷时，此刻公司有权选择此刻公司所在地有管辖权的人民法院排他管辖该纠纷。<br />
3.用户自担其责：用户在使用此刻时，应严格遵循本协议适用法律与政策的全部要求，包括但不限于不得发布危害国家及社会安全信息、不安全信息、垃圾营销信息、淫秽色情信息、欺诈信息、不正当竞争信息等（进一步了解请参见第8条款）。因用户不当使用此刻而造成的其自己、美图公司或其他第三方的损失，均应由该用户承担。同时，用户应自行判断信息内容的真实性、合法性和有效性，并自行承担使用该等信息内容可能产生的一切后果与责任。<br />
4.用户授权：用户对其所发布的信息内容享有相关法律权利，但在任何情形下，未经此刻公司书面许可，用户不得将与此刻有关的信息内容用于商业目的。在用户发布信息内容的同时，该用户即已明示同意：<br />
(1) 其授予此刻公司一项完全付讫且无使用费、无期限、非独占、可转让、可再授权的在全球范围内使用该等信息内容的不可撤销的许可。依据该项许可，此刻公司可自己或者授权第三方以使用、复制、再加工、处理、编辑、改编、修改、传播、出版、翻译、传送、分发、公开演示、公开展示、公开表演、创作衍生作品等任何方式使用信息内容。其如不同意该等许可，应在其发布的信息内容中，通过适当的方式通知美图公司。<br />
(2) 在其权益受到侵犯的同时也导致美图公司权益受损的情况下，与此刻公司作为一致行动人，授予此刻公司同时代表其及此刻公司，针对进行该侵犯行为的任何第三方及其违法行为，提出警告、投诉、发起或参与行政执法程序或民事、刑事司法程序，或谈判和解，并且其同意在此刻公司认为必要的情况下共同参与该维权行动。<br />
5.此刻公司无预警处置：此刻公司可根据自身的判断或适用法律与政策的需要，自主决定是否维持用户发布的某项信息内容；并可在不预先通知用户的情况下，暂停、终止、增减、删除已为用户提供的某项信息内容，用户对此不持异议。因此，此刻公司建议用户可采取合法的手段保存其所需要的信息内容。<br />
6.此刻公司权利保留：除非此刻公司另有声明或相关权利人依照适用法律与政策应享有的权利外，在用户使用此刻的过程中，此刻公司均将受到适用法律与政策及可适用的国际条约的完整保护。本协议未明示授权用户行使的一切权利将由此刻公司保留，未经此刻公司或相关权利人书面授权，任何人不得以任何形式进行使用。对于本协议适用法律与政策及可适用的国际条约所允许此刻公司享有的其他免责事由，除非此刻公司特别声明放弃，否则此刻公司仍享有主张该等免责事由的权利。<br />
用户的权利与义务<br />
7.注册账号：为更好地使用此刻，用户可注册此刻公司账号，并在注册账号后自行妥善保管账号及密码，对通过该账号所进行的和与之相关的一切行为负责。用户在注册此刻公司账号时，应按照注册提示真实、完整地填写相关注册信息，并及时更新该等注册信息，保证该等注册信息自账号注册起至账号注销止的期间内始终处于真实、有效状态，且不得侵犯其他第三方的合法权益。因用户填写的注册信息存在错误、虚假、违法等情形导致的后果，无论是否公开，均由该用户自行承担。<br />
8.发布信息内容规范：用户在发布信息内容时，如需获得该信息内容权利人或任何有权第三方（包括但不限于其他网络平台等，以下统称“授权方”）的事先授权或批准的，应事先获得该等授权或批准；一旦用户发布某项信息内容，将被视为用户已事先获得该等授权或批准（如有）。根据适用法律与政策的规定，用户不得直接或间接发布的事项如下：<br />
(1) 危害国家及社会安全信息，其表现可能包括但不限于反对宪法所确定的基本原则；危害国家安全，泄露国家机密，颠覆国家政权，破坏国家统一；煽动民族仇恨、民族歧视，破坏民族团结；破坏国家宗教政策，宣扬邪教和封建迷信；散布谣言，扰乱社会秩序，破坏社会稳定；宣扬赌博、暴力、凶杀、恐怖或者教唆犯罪；煽动非法集会、结社、游行、示威、聚众扰乱社会秩序；含有法律、行政法规和国家规定禁止的其他内容。<br />
(2) 不安全信息，其表现可能包括但不限于含钓鱼网站链接的相关内容；含木马或其他病毒网站链接及相关内容；含潜在危险、窃取用户隐私等相关内容；影响用户体验或被大量用户举报的未经审核的外链、二维码及其他多媒体等内容。<br />
(3) 垃圾营销信息，其表现可能包括但不限于从事买卖粉丝及相关业务；从事刷评论、刷转发、刷双井号话题词、刷搜索、刷投票、刷有奖活动业务；通过机器或软件等非人力手段对他人页面大量发送广告信息；机器抓取发送的无意义内容、重复内容；利用系统漏洞干扰美拍正常秩序（如盗用其他用户账号、强制其他用户关注等）；影响用户体验或被大量用户举报的、在性质上属于推销宣传推广的营销信息。<br />
(4) 淫秽色情信息，其表现可能包括但不限于发布淫秽、色情内容，包括但不限于招嫖、寻找一夜情、性伴侣等内容；发布以色情为目的的情色文字、情色视频、情色图画等内容；长期发布与淫秽、色情内容擦边的或具有性暗示类的内容。<br />
(5) 欺诈信息，其表现可能包括但不限于发布虚假广告、虚假中奖信息等内容。<br />
(6) 不正当竞争信息，其表现可能包括但不限于发布篡改、增减、删除权利标识的内容；发布未经授权方授权的内容等。<br />
9.索赔与反索赔：用户所发布的信息内容存在被美图公司及其合作方或者其他使用者进行使用的可能性，因此，用户若对该等信息内容不享有相关权利，将可能面临投诉、举报及索赔。相反，若用户认为其他用户或第三方发布的信息内容侵犯自己的合法权益，用户应自行向该等主体主张权利，此刻公司不承担责任，但将给予必要的协助。<br />
</div> 