<app-nav-bar [viewTitle]="'我的相册'"></app-nav-bar>
<div class="container-fluid top-blank my-gallery">
   <div class="row">
     <div class="col-xs-6 mb30  ck-xs col-md-4">
      <div class="m-num">
        <span>14</span>
        <a [routerLink]="['/person/gallerydetail', 1]"><img src="assets/images/ck_img1.png"  alt="" class="img-responsive" /></a>
      </div>
      <div class="m-mes">10-02-2015 <span>12:00</span><br />成都·芷泉街</div>
      <div class="m-title">大学时光的记忆
       <div class="m-edit">
         <img src="assets/images/more1.png"  alt="" class="pointer" />
         <ul>
           <li><a href="javascript:void(0)">编辑</a></li>
           <li><a href="javascript:void(0)" class="themes-del">删除</a></li>
         </ul>
       </div>
     </div>
   </div>
 </div>
</div>