<div [@routeAnimation]>
  <div class="container-fluid u-box tcenter bg-none">
    <div class="h300">
      <div class="media ">
        <div class="media-left media-middle">
          <img src="assets/images/login_face.png"  alt="" class="img-circle " />
        </div>
        <div class="media-body u-boxc">
          <p>这种一眼难尽的时候<img src="assets/images/nv.png"  alt="" /></p>
         <p class="u-f1">向往自由自在的生活。也喜欢...</p>
         <p>排名：<span class="fc610">2</span><span class="ml20">发布照片数：388</span></p>
        </div>
        <div class="media-right media-middle">
          <a routerLink="/person/user"><img src="assets/images/u_r.png"  alt="" class="" /></a>
        </div>
      </div>
    </div>
    <div class="row u-nav bg-none u-nav-bd">
      <div class="col-sm-3 col-xs-3"><a routerLink="/person/theme/0">23<br /><span>主题</span></a><span></span></div>
      <div class="col-sm-3 col-xs-3"><a routerLink="/person/theme/1">90<br /><span>随手拍</span></a><span></span></div>
      <div class="col-sm-3 col-xs-3"> <a routerLink="/person/theme/2">138<br /><span>关注</span></a><span></span></div>
      <div class="col-sm-3 col-xs-3"><a routerLink="/person/theme/3">12万<br /><span>粉丝</span></a></div>
    </div>
  </div>
  <div class="u-blank"></div>
  <div class="u-row1">
    <div class="u-row1t "><a routerLink="/person/message" class="ubg1">系统消息</a></div>
    <div class="u-row1t "><a routerLink="/person/zan" class="ubg2"><span class='active'>赞</span></a></div>
  </div>
  <div class="u-row1">
    <div class="u-row1t "><a routerLink="/person/clist" class="ubg3">评论</a></div>
    <div class="u-row1t "><a routerLink="/person/collect/0" class="ubg4">收藏</a></div>
  </div>
  <div class="u-blank"></div>
  <div class="u-row2 row2-bg1">
    <a routerLink="/person/gallery">我的相册</a>
  </div>
  <div class="u-row2 row2-bg2">
    <a routerLink="/person/vip">会员认证</a>
  </div>
  <div class="u-blank"></div>
  <div class="u-row2 row2-bg3">
    <a routerLink="/person/record">积分</a>
  </div>
  <div class="u-row2 row2-bg4">
    <a routerLink="/person/trade">交易</a>
  </div>
  <div class="u-blank"></div>
  <div class="u-row2 row2-bg5">
    <a routerLink="/person/config">设置</a>
  </div>
  <div class="u-row2 row2-bg6">
    <a routerLink="/person/safe">安全中心</a>
  </div>
  <div class="u-blank mb60"></div>
  <app-foot></app-foot>
</div>