<app-nav-bar [viewTitle]="'评论详情'"></app-nav-bar>
<div class="container-fluid mes-box pt80">
<div class="u-mesli ">
  <div class="row ums-title">
    <div class="col-xs-3 col-sm-2 ums-face ">
     <img src="assets/images/img1.png"  alt="" class="img-circle " />
    </div>
    <div class="col-xs-6 col-sm-8 u-adress ">
      <p class="mt10">西毒.欧阳锋</p>
      <p class="fcbd"><img src="assets/images/adress.png"  alt="" />
      <span>成都.芷泉街</span></p>
    </div>
    <div class="col-xs-3 col-sm-2 tcenter up_theme">
      <a href="javascript:void(0)" ><img src="assets/images/careimg1.png"   alt="" id="care" /></a>
    </div>
  </div>
  
   <div class="row  mt20 mb20 rel">
   <div class="up-check">
   <input type="checkbox" id="mes1" />
   <label for="mes1"></label>
   </div>
        <img src="assets/images/img1.png"  alt="" class="w100"  />
         <div class="theme-bar">
        <span class="themes-ads">10-02-2015  12:00</span>
      </div>
    </div>
     <div class="row  mb20 umes-detail">
      <div class="col-xs-12 mes-dsc mb10">
        坝上的最后一天，车子开进一处偏远的山坳，穿着雨鞋
深入河中间，伴着一棵枯树仰望满天星斗。
      </div>
      <div class="col-xs-4">
        <a href="javascript:void(0)" class="u-tou">投诉<span>(0)</span></a>
      </div>
      <div class="col-xs-4">
        <a href="javascript:void(0)" class="u-collect">收藏<span>(1124)</span></a>
      </div>
      <div class="col-xs-4">
        <a href="javascript:void(0)" class="u-zam">赞<span>(224)</span></a>
      </div>
   </div>
  </div>

<div class="cmt-cmt fc255 lh30">
<div class="cmt-num"><span class="fcbd mr10">评论</span>239</div>

 <div class="cmt-bar pb10">
        <div class="cmt-face"><img src="assets/images/login_face.png" 
         alt="" class="" /></div>
           <div class="cmt-barc">
             <div class="cmes-box rel ">
         <p class="mt10"><span>背包客</span> ：美的不像话，我也好想去看看...</p>
        <p><span>李木子</span> 回复 <span>背包客</span>：我也是哎</p>
         <p class="mt10"><span>背包客</span> ：美的不像话，我也好想去看看...</p>
        <p><span>李木子</span> 回复 <span>背包客</span>：我也是哎</p>
         <p class="mt10"><span>背包客</span> ：美的不像话，我也好想去看看...</p>
        <p><span>李木子</span> 回复 <span>背包客</span>：我也是哎</p>

        </div>
           </div>
            <div class="cmt-barr">
              <a href=""><img src="assets/images/reply.png"  alt="" /></a>
            </div>
      <div>
         <p class="tright c-time"><span class="mr10">10-20-2015</span><span class="">20:00:48</span>  </p>
      </div>
      </div>


       <div class="cmt-bar pb10">
        <div class="cmt-face"><img src="assets/images/login_face.png" 
         alt="" class="" /></div>
           <div class="cmt-barc">
             <div class="cmes-box rel ">
         <p class="mt10"><span>背包客</span> ：美的不像话</p>
        </div>
           </div>
            <div class="cmt-barr">
              <a href=""><img src="assets/images/reply.png"  alt="" /></a>
            </div>
      <div>
         <p class="tright c-time"><span class="mr10">10-20-2015</span><span class="">20:00:48</span>  </p>
      </div>
      </div>
</div>
</div>