<app-nav-bar></app-nav-bar>
<form action="" class="up-form1">
    <p><input type="text" placeholder="添加相册名称"  class="fcbd" /></p>
    <p><textarea name="" id=""  rows="5" placeholder="添加相册描述..." class="fcbd" ></textarea></p>
    <div class="uinput_group">
      <span class="fcbd">地址：</span>
      <input type="text" value="成都.芷泉街" />
      <span class="up-close"><img src="../../../assets/images/up_close.png"  alt="" /></span>
    </div>
    <div class="uinput_group">
      <span class="fcbd">时间：</span>
      <input type="text" value="10-02-2015  12:00" />
      <span class="up-close"><img src="../../../assets/images/up_close.png"  alt="" /></span>
    </div> 
  </form>   
<div class="msk"></div>