<app-nav-bar [viewTitle]="'用户信息'"></app-nav-bar>
<form action="" class="up-form1">
    <p class="data-file"><input type="file" /><img src="assets/images/img1.png"  alt="" /><span>这种一眼难尽的时候</span></p>
    <p class="data-title">个性签名</p>
    <p><textarea name="" id=""  rows="3" placeholder="这是一种态度..." class="fcbd" style="background:none" ></textarea></p>
    <p class="data-title">更多资料</p>
    <div class="uinput_group input-edt">
      <span >爱好：</span>
      <input type="text" value="游泳、旅行" />
    </div>
     <div class="uinput_group input-edt">
      <span >身份：普通会员</span>
      <a href="">认证</a>
    </div>
    <div class="uinput_group input-edt">
      <span >爱好：</span>
      <input type="text" value="男" />
    </div>
</form>   
<div class="msk" style="display:block"></div>