<div class="ck-title"><a href="javascript:history.back();"><img src="../../assets/images/go_back.png"  alt="" /></a><span>上传</span><span class="fright fc255 pointer" id="edit">编辑</span></div>
  <form action="" class="up-form1">
    <p><input type="text" placeholder="添加相册名称"  class="fcbd" /></p>
    <p><textarea name="" id=""  rows="5" placeholder="添加相册描述..." class="fcbd" ></textarea></p>
    <div class="uinput_group">
      <span class="fcbd">地址：</span>
      <input type="text" value="成都.芷泉街" />
      <span class="up-close"><img src="../../assets/images/up_close.png"  alt="" /></span>
    </div>
    <div class="uinput_group ">
      <span class="fcbd">时间：</span>
      <input type="text" value="10-02-2015  12:00" />
      <span class="up-close"><img src="../../assets/images/up_close.png"  alt="" /></span>
    </div> 
    <div class="uinput_group ">
<span class="fcbd">上传至：</span>
      <select name="" id="s_cat">
        <option value="故事">故事</option>
        <option value="城市">城市</option>
        <option value="旅行">旅行</option>
        <option value="时尚">时尚</option>
        <option value="成长">成长</option>
        <option value="里面的坑">里面的坑</option>
      </select>
       <div class="s_type">
         <span id="s_check">故事</span>
        <img src="../../assets/images/up_slide.png"  alt=""  id="search_slidemenu"/>
       </div>
       <ul id="search_slide">
        <li >故事</li>
        <li >城市</li>
        <li >旅行</li>
        <li >时尚</li>
        <li >成长</li>
        <li >里面的坑</li>
      </ul>
    </div> 
    <div class="container-fluid img-box ">
      <div class="row ">
        <div class="col-md-2 col-sm-3 col-xs-4 mt10 mb10">
          <img src="../../assets/images/img1.png"  alt="" class="img-responsive" />
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4 mt10 mb10">
          <img src="../../assets/images/img1.png"  alt="" class="img-responsive" />
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4 mt10 mb10">
          <img src="../../assets/images/img1.png"  alt="" class="img-responsive" />
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4 mt10 mb10">
          <img src="../../assets/images/img1.png"  alt="" class="img-responsive" />
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4 mt10 mb10">
          <img src="../../assets/images/img1.png"  alt="" class="img-responsive" />
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4 mt10 mb10 upimg-box">
          <img src="../../assets/images/up_add.png"  alt="" class="img-responsive pointer" id='img-add' />
          <input type="file" class="upimg" />
        </div>
      </div>
    </div>
  </form> 
<div class="msk"></div>