<app-nav-bar [viewTitle]="'赞了我'"></app-nav-bar>
<div class="pt60">
    <div class="cmt-li pb10">
      <div class="cmt-bar">
        <div class="cmt-face"><img src="assets/images/login_face.png" 
         alt="" /></div>
           <div class="cmt-barc">
             <span class="fs18">背包客</span><span class="fs16 ml20">赞了我</span><br />
             <span class="fcbd">10-21-2015   15:02</span>
           </div>
      </div>
      <div class="cmt-mes mt10">
        <div class="cmt-img">
       <div class="cmt-img1">
          <img src="assets/images/cmt_img.png"  alt="" />
       </div>
        <div class="cmt-img2">
        坝上的最后一天，车子开进一处偏远的...
        </div>
        </div>
      </div>
    </div>
     <div class="cmt-li pb10">
      <div class="cmt-bar">
        <div class="cmt-face"><img src="assets/images/login_face.png" 
         alt="" /></div>
           <div class="cmt-barc">
             <span class="fs18">背包客</span><span class="fs16 ml20">赞了我</span><br />
             <span class="fcbd">10-21-2015   15:02</span>
           </div>
      </div>
      <div class="cmt-mes mt10">
        <div class="cmt-img">
       <div class="cmt-img1">
          <img src="assets/images/cmt_img.png"  alt="" />
       </div>
        <div class="cmt-img2">
        坝上的最后一天，车子开进一处偏远的...
        </div>
        </div>
      </div>
    </div>
     <div class="cmt-li pb10">
      <div class="cmt-bar">
        <div class="cmt-face"><img src="assets/images/login_face.png" 
         alt="" /></div>
           <div class="cmt-barc">
             <span class="fs18">背包客</span><span class="fs16 ml20">赞了我</span><br />
             <span class="fcbd">10-21-2015   15:02</span>
           </div>
      </div>
      <div class="cmt-mes mt10">
        <div class="cmt-img">
       <div class="cmt-img1">
          <img src="assets/images/cmt_img.png"  alt="" />
       </div>
        <div class="cmt-img2">
        坝上的最后一天，车子开进一处偏远的...
        </div>
        </div>
      </div>
    </div>
  </div>