<app-nav-bar [viewTitle]="'积分兑换'"></app-nav-bar>
<div class="record">
   <div class="integral-bar">
     <div class="intl"><img src="../../../assets/images/login_face.png"  alt="" />当前积分：<span class="fc303">250分</span></div>
     <div class="intr"><a href="">立即兑换</a></div>
   </div>
         <table cellspacing="0" class="mt40">
         <caption >积分获取记录</caption>
     <tr>
       <th>购买大小</th>
       <th>购买金额</th>
       <th>获取积分</th>
       <th>获取时间</th>
     </tr>
       <tr>
       <td>1G</td>
       <td>￥20</td>
       <td>2000分</td>
       <td>10-21-2015</td>
     </tr>
       <tr>
       <td>1G</td>
       <td>￥20</td>
       <td>2000分</td>
       <td>10-21-2015</td>
     </tr>
       <tr>
       <td>1G</td>
       <td>￥20</td>
       <td>2000分</td>
       <td>10-21-2015</td>
     </tr>
   </table>
</div>