<app-nav-bar></app-nav-bar>
<div class="pt80">
    <div class="cmt-li">
      <div class="cmt-bar">
        <div class="cmt-face"><img src="../../../assets/images/login_face.png" 
         alt="" /></div>
           <div class="cmt-barc">
             <span class="fs18">背包客</span><br />
             <span class="fcbd">10-21-2015   15:02</span>
           </div>
            <div class="cmt-barr">
              <a href=""><img src="../../../assets/images/reply.png"  alt="" /></a>
            </div>
      </div>
      <div class="cmt-mes">
        <div class="lh60">美的不像话，我也好想去看看...</div>
        <div class="cmt-img">
        <div class="cmt-img1">
          <img src="../../../assets/images/cmt_img.png"  alt="" />
        </div>
        <div class="cmt-img2">
       坝上的最后一天，车子开进一处偏远的...
        </div>
        </div>
        <div class="cmes-box pb20 rel">
         <p class="mt10"><span>背包客</span> ：美的不像话，我也好想去看看...</p>
        <p><span>李木子</span> 回复 <span>背包客</span>：我也是哎</p>
        <img src="../../../assets/images/del.png"  alt="" class="mes-del" />
        </div>
      </div>
    </div>
    <div class="cmt-li">
      <div class="cmt-bar">
        <div class="cmt-face"><img src="../../../assets/images/login_face.png" 
         alt="" /></div>
           <div class="cmt-barc">
             <span class="fs18">背包客</span><br />
             <span class="fcbd">10-21-2015   15:02</span>
           </div>
            <div class="cmt-barr">
              <a href=""><img src="../../../assets/images/reply.png"  alt="" /></a>
            </div>
      </div>
      <div class="cmt-mes">
        <div class="lh60">美的不像话，我也好想去看看...</div>
        <div class="cmt-img">
        <div class="cmt-img1">
          <img src="../../../assets/images/cmt_img.png"  alt="" />
        </div>
        <div class="cmt-img2">
       坝上的最后一天，车子开进一处偏远的...
        </div>
        </div>
        <div class="cmes-box pb20 rel">
         <p class="mt10"><span>背包客</span> ：美的不像话，我也好想去看看...</p>
        <p><span>李木子</span> 回复 <span>背包客</span>：我也是哎</p>
        <img src="../../../assets/images/del.png"  alt="" class="mes-del" />
        </div>
      </div>
    </div>
    <div class="cmt-li">
      <div class="cmt-bar">
        <div class="cmt-face"><img src="../../../assets/images/login_face.png" 
         alt="" /></div>
           <div class="cmt-barc">
             <span class="fs18">背包客</span><br />
             <span class="fcbd">10-21-2015   15:02</span>
           </div>
            <div class="cmt-barr">
              <a href=""><img src="../../../assets/images/reply.png"  alt="" /></a>
            </div>
      </div>
      <div class="cmt-mes">
        <div class="lh60">美的不像话，我也好想去看看...</div>
        <div class="cmt-img">
        <div class="cmt-img1">
          <img src="../../../assets/images/cmt_img.png"  alt="" />
        </div>
        <div class="cmt-img2">
       坝上的最后一天，车子开进一处偏远的...
        </div>
        </div>
        <div class="cmes-box pb20 rel">
         <p class="mt10"><span>背包客</span> ：美的不像话，我也好想去看看...</p>
        <p><span>李木子</span> 回复 <span>背包客</span>：我也是哎</p>
        <img src="../../../assets/images/del.png"  alt="" class="mes-del" />
        </div>
      </div>
    </div>
    

  </div>