<app-nav-bar [viewTitle]="'建议'"></app-nav-bar>
 <div class="pt80 container-fluid fdb">
  <form action="" class="row">
    <div class="col-xs-12 fdb-bar">
      您有什么好的建议，欢迎及时反馈
    </div>
     <div class="col-xs-12 fdb-li">
      <input type="text" placeholder="在此输入标题" class="bg323" />
    </div>
    <div class="col-xs-12 fdb-li">
        <textarea name="" id="" cols="30" rows="10" placeholder="在此输入您的建议..." class="bg323" ></textarea>
    </div>
    <div class="col-xs-12 fdb-li">
  <input type="email"  placeholder="输入您的邮箱" class="bg323"/>
    </div>
     <div class="col-xs-12 fdb-li tcenter">
  <input type="submit"  value="提交" class="pay  mt80" />
    </div>

  </form>
</div>