<app-nav-bar [viewTitle]="'相册详情'"></app-nav-bar>
<div class="container-fluid top-blank my-gallery">
  <form action="" class="up-imgt rel mb20">
    <input type="file"  />
    <a href="javascript:void(0)">上传图片</a>
  </form>

     <div class="time-cat">
        <h4>10-02-2015</h4>
       <div class="row">
       <div class="col-xs-6 mb30  ck-xs col-md-4">
          <img src="../../../assets/images/ck_img1.png"  alt="" class="img-responsive" />
         <div class="m-edit1">
           <img src="../../../assets/images/more.png"  alt="" class="pointer" />
           <ul>
             <li><a href="javascript:void(0)">编辑</a></li>
             <li><a href="javascript:void(0)">删除</a></li>
           </ul>
         </div>
     </div>
      <div class="col-xs-6 mb30  ck-xs col-md-4">
          <img src="../../../assets/images/ck_img1.png"  alt="" class="img-responsive" />
         <div class="m-edit1">
           <img src="../../../assets/images/more.png"  alt="" class="pointer" />
           <ul>
             <li><a href="javascript:void(0)">编辑</a></li>
             <li><a href="javascript:void(0)">删除</a></li>
           </ul>
         </div>
     </div>
      <div class="col-xs-6 mb30  ck-xs col-md-4">
          <img src="../../../assets/images/ck_img1.png"  alt="" class="img-responsive" />
         <div class="m-edit1">
           <img src="../../../assets/images/more.png"  alt="" class="pointer" />
           <ul>
             <li><a href="javascript:void(0)">编辑</a></li>
             <li><a href="javascript:void(0)">删除</a></li>
           </ul>
         </div>
     </div>
      <div class="col-xs-6 mb30  ck-xs col-md-4">
          <img src="../../../assets/images/ck_img1.png"  alt="" class="img-responsive" />
         <div class="m-edit1">
           <img src="../../../assets/images/more.png"  alt="" class="pointer" />
           <ul>
             <li><a href="javascript:void(0)">编辑</a></li>
             <li><a href="javascript:void(0)">删除</a></li>
           </ul>
         </div>
     </div>
      <div class="col-xs-6 mb30  ck-xs col-md-4">
          <img src="../../../assets/images/ck_img1.png"  alt="" class="img-responsive" />
         <div class="m-edit1">
           <img src="../../../assets/images/more.png"  alt="" class="pointer" />
           <ul>
             <li><a href="javascript:void(0)">编辑</a></li>
             <li><a href="javascript:void(0)">删除</a></li>
           </ul>
         </div>
     </div>
   </div>
     </div>
      <div class="time-cat">
        <h4>10-02-2015</h4>
       <div class="row">
       <div class="col-xs-6 mb30  ck-xs col-md-4">
          <img src="../../../assets/images/ck_img1.png"  alt="" class="img-responsive" />
         <div class="m-edit1">
           <img src="../../../assets/images/more.png"  alt="" class="pointer" />
           <ul>
             <li><a href="javascript:void(0)">编辑</a></li>
             <li><a href="javascript:void(0)">删除</a></li>
           </ul>
         </div>
     </div>
      <div class="col-xs-6 mb30  ck-xs col-md-4">
          <img src="../../../assets/images/ck_img1.png"  alt="" class="img-responsive" />
         <div class="m-edit1">
           <img src="../../../assets/images/more.png"  alt="" class="pointer" />
           <ul>
             <li><a href="javascript:void(0)">编辑</a></li>
             <li><a href="javascript:void(0)">删除</a></li>
           </ul>
         </div>
     </div>
      <div class="col-xs-6 mb30  ck-xs col-md-4">
          <img src="../../../assets/images/ck_img1.png"  alt="" class="img-responsive" />
         <div class="m-edit1">
           <img src="../../../assets/images/more.png"  alt="" class="pointer" />
           <ul>
             <li><a href="javascript:void(0)">编辑</a></li>
             <li><a href="javascript:void(0)">删除</a></li>
           </ul>
         </div>
     </div>
      <div class="col-xs-6 mb30  ck-xs col-md-4">
          <img src="../../../assets/images/ck_img1.png"  alt="" class="img-responsive" />
         <div class="m-edit1">
           <img src="../../../assets/images/more.png"  alt="" class="pointer" />
           <ul>
             <li><a href="javascript:void(0)">编辑</a></li>
             <li><a href="javascript:void(0)">删除</a></li>
           </ul>
         </div>
     </div>
      <div class="col-xs-6 mb30  ck-xs col-md-4">
          <img src="../../../assets/images/ck_img1.png"  alt="" class="img-responsive" />
         <div class="m-edit1">
           <img src="../../../assets/images/more.png"  alt="" class="pointer" />
           <ul>
             <li><a href="javascript:void(0)">编辑</a></li>
             <li><a href="javascript:void(0)">删除</a></li>
           </ul>
         </div>
     </div>
   </div>
   </div>
</div>

<form action="" class="up-form1 tcenter">
    <p class="no-imgp"><img src="../../../assets/images/no_img.png"  alt="" class="img-resiponsive" /><br />没有照片的相册好孤单</p>
  <div class="up_img mt80">
    <a href="javascript:void(0)">上传照片</a><br />
    <input type="file" />
  </div>


  </form>