<div class="i-box pt10" [@routeAnimation]>
  <div>
    <div class="themes-bar">
      <div class="thmeesl"><img src="assets/images/img1.png"  alt="" /></div>
      <div class="thmeesr">
       <p>李木子<span class="adress1">成都.芷泉街</span></p>
       <p class="fs14">大学时光的故事...</p>
     </div>
      <div class="thmees-care"><img src="assets/images/careimg1.png"  alt="" /></div>
    </div>
      <div class="themes-box">
          <img src="assets/images/ck_img3.png"  alt="" class="img-responsive" />
          <div class="i-row1">
              <div class="i-rowl">
               10-02-2015<span class="ml10">12:00</span>   
              </div>
              <div class="i-rowr">
                  <div class="u-edit2">
                    <img src="assets/images/more.png"  alt="" />
                    <ul>
                     <li><a href="javascript:void(0)">编辑</a></li>
                     <li><a href="javascript:void(0)" class="themes-del">删除</a></li>
                   </ul>
                  </div>
                  <a class="zam" href="javascript:void(0)"></a> 
                  <a class="care" href="javascript:void(0)"></a>
              </div>
          </div>
          <div class="i-row2 t-row">
              <div class="i-rowl">
                  <img src="assets/images/face.png"  alt="" />李木子{{tData | json}} 
              </div>
              <div class="i-rowr">
                  <span class="">怀念骑单车的日子</span>
              </div>
          </div>
      </div>
      <div class="themes-box">
          <img src="assets/images/ck_img3.png"  alt="" class="img-responsive" />
          <div class="i-row1">
              <div class="i-rowl">
               10-02-2015<span class="ml10">12:00</span>   
              </div>
              <div class="i-rowr">
                  <div class="u-edit2">
                    <img src="assets/images/more.png"  alt="" />
                    <ul>
                     <li><a href="javascript:void(0)">编辑</a></li>
                     <li><a href="javascript:void(0)" class="themes-del">删除</a></li>
                   </ul>
                  </div>
                  <a class="zam" href="javascript:void(0)"></a> 
                  <a class="care" href="javascript:void(0)"></a>
              </div>
          </div>
          <div class="i-row2 t-row">
              <div class="i-rowl">
                  <img src="assets/images/face.png"  alt="" />李木子 
              </div>
              <div class="i-rowr">
                  <span class="">怀念骑单车的日子</span>
              </div>
          </div>
      </div>
  </div>
  <app-foot></app-foot>
</div>
