<div class="login-box1 pb60 pt60">
       <form action="" method="" class="login-bg1">
       <div class="rel">
         <input type="file" class="file" id="file" />
           <div class="login-face tcenter"><img src="../../../assets/images/login_face.png"  alt="" /><br />更换头像</div>
       </div>
    <div class="pl20 pr20 mt40">
      
 <div class="input-group1">
       <input type="text"  value=""  placeholder="昵称"  />
   </div>
   <div class="input-group1">
     <div class="sex fleft">性别</div>
     <div class="sex-box fright">
       <div class="man fleft">
          <input type="radio" name="sex" id="man" />
          <label for="man"></label>
          <span>男生</span>
       </div>
        <div class="wman fleft ml20">
          <input type="radio" name="sex" id="wman" />
          <label for="wman"></label>
          <span>女生</span>
       </div>
     </div>
   </div>
 <div class="input-group1">
   <input type="text" value="" placeholder="请输入邮箱"  />
 </div>

<div class="input-group1">
<span class="send fright" id='send'>发送</span>
   <input type="text" value="" class="l-code" id="l-code" placeholder="请输入验证码" />
 </div>

   <div class="input-group2 mt60">
       <input type="submit" class="login-menu" value="完成"  />
   </div>
   <p class="mt10">
   <input type="checkbox" id="arg" />
   <label for="arg" class="arg-label"></label>
   <span class="ml10">我已阅读并同意<a href="">《用户协议》</a></span></p>
    </div>
  
   </form> 
</div>