<app-nav-bar></app-nav-bar>
<div class="login-box pb60">
    <form action="" method="" class="login-bg">
        <div class="input-group">
           <input type="text" class="userName" value=""  placeholder="请输入邮箱"  />
        </div>
        <div class="input-group">
           <input type="text" class="g-code" value=""  placeholder="请输入验证码" />
           <div class="g-send" id="g-send">发送</div>
        </div>
        <div class="input-group">
           <input type="password" class="pwd" value=""  placeholder="请输入新密码"   />
          <!--  <div class="pwd-notice" id="pwdn1">请输入新密码</div> -->
        </div>
        <div class="input-group mt40">
           <input type="submit" class="login-menu" value="完成"  />
        </div>
    </form> 
</div>