<app-nav-bar [viewTitle]="'空间购买'"></app-nav-bar>
<div class="pt80 container-fluid space">
  <div class="row space-btm">
    <div class="col-xs-12">
      所选空间：<span class="ss1">2GB套餐</span>
    </div>
     <div class="col-xs-12">
      购买金额：<span class="fc610">￥40</span>
    </div>

  </div>

   <div class="row space-btm">
    <div class="col-xs-12">
      账户积分：<span class="fc42">2000积分</span>
    </div>
     <div class="col-xs-12">
     积分抵扣：<span class="ss1">2000</span>分
    </div>
    <div class="col-xs-12">
     您还需要支付：<span class="fc610 ">￥20</span>
    </div>
    <div class="col-xs-12 mt80 tcenter">
    <a href="" class="pay">立即支付</a>
    </div>
  </div>
</div>