<app-nav-bar [viewTitle]="'收藏'"></app-nav-bar>
<div class="clct-cat">
   <span [class.active]="nav == 0" (click)="changeNav(0)">主题</span>
   <span [class.active]="nav != 0" (click)="changeNav(1)">随手拍</span>
 </div>
 <div class="i-box mt10" [hidden]="!nav">
   <div class="themes-box clct-bottom">
    <div class="themes-bar clct-bar">
      <div class="thmeesl"><img src="assets/images/img1.png"  alt="" /></div>
      <div class="thmeesr">
       <p>李木子<span class="adress1 fc255">成都.芷泉街</span><span class="u-cat ml20 ">故事</span><img src="assets/images/del.png"  alt="" /></p>
       <p class="fcbd fs16">10-21-2015   15:02 {{nav}}</p>
     </div>
   </div>
   <img src="assets/images/ck_img3.png"  alt="" class="img-responsive" />
 </div>
 <div class="themes-box clct-bottom">
  <div class="themes-bar clct-bar">
    <div class="thmeesl"><img src="assets/images/img1.png"  alt="" /></div>
    <div class="thmeesr">
     <p>李木子<span class="adress1 fc255">成都.芷泉街</span><span class="u-cat ml20 ">故事</span><img src="assets/images/del.png"  alt="" /></p>
     <p class="fcbd fs16">10-21-2015   15:02</p>
   </div>
 </div>
 <img src="assets/images/ck_img3.png"  alt="" class="img-responsive" />
</div>
<div class="themes-box clct-bottom">
  <div class="themes-bar clct-bar">
    <div class="thmeesl"><img src="assets/images/img1.png"  alt="" /></div>
    <div class="thmeesr">
     <p>李木子<span class="adress1 fc255">成都.芷泉街</span><span class="u-cat ml20 ">故事</span><img src="assets/images/del.png"  alt="" /></p>
     <p class="fcbd fs16">10-21-2015   15:02</p>
   </div>
 </div>
 <img src="assets/images/ck_img3.png"  alt="" class="img-responsive" />
</div>
</div>

<div class="i-box mt10" [hidden]="nav">
 <div class="themes-box clct-bottom">
  <div class="themes-bar clct-bar">
    <div class="thmeesl"><img src="assets/images/img1.png"  alt="" /></div>
    <div class="thmeesr">
     <p>李木子<span class="adress1 fc255">成都.芷泉街</span><span class="u-cat ml20 ">故事</span><img src="assets/images/del.png"  alt="" /></p>
     <p class="fcbd fs16">10-21-2015   15:02</p>
   </div>
 </div>
 <img src="assets/images/ck_img3.png"  alt="" class="img-responsive" />
 <div class="clct-row">大学时候骑得单车</div>
</div>
<div class="themes-box clct-bottom">
  <div class="themes-bar clct-bar">
    <div class="thmeesl"><img src="assets/images/img1.png"  alt="" /></div>
    <div class="thmeesr">
     <p>李木子<span class="adress1 fc255">成都.芷泉街</span><span class="u-cat ml20 ">故事</span><img src="assets/images/del.png"  alt="" /></p>
     <p class="fcbd fs16">10-21-2015   15:02</p>
   </div>
 </div>
 <img src="assets/images/ck_img3.png"  alt="" class="img-responsive" />
 <div class="clct-row">大学时候骑得单车</div>
</div>
<div class="themes-box clct-bottom">
  <div class="themes-bar clct-bar">
    <div class="thmeesl"><img src="assets/images/img1.png"  alt="" /></div>
    <div class="thmeesr">
     <p>李木子<span class="adress1 fc255">成都.芷泉街</span><span class="u-cat ml20 ">故事</span><img src="assets/images/del.png"  alt="" /></p>
     <p class="fcbd fs16">10-21-2015   15:02</p>
   </div>
 </div>
 <img src="assets/images/ck_img3.png"  alt="" class="img-responsive" />
 <div class="clct-row">大学时候骑得单车</div>
</div>
</div>